@import './modules/fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-3xl font-medium text-gray-50;

  font-family: Manrope, sans-serif;
  background-image: url('Img/bigimg.jpg');
  background-size: cover;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: max-content;
}

.icon {
  width: 20px;
  height: 20px;

  &--white {
    fill: #fff;
  }
}
